NODE_ENV=production
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USERNAME=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=COUNTERPARTMUSIC
SNOWFLAKE_SCHEMA=MASTER
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_APPLICATION=CounterPartMusicNode
SNOWFLAKE_AUTHENTICATOR=snowflake
SFTP_HOST=ftp-data.themlc.com
SFTP_PORT=22
SFTP_USERNAME=
SFTP_PRIVATE_KEY_PATH=
SFTP_PRIVATE_KEY_PASSPHRASE=
SFTP_REMOTE_ROOT=/public-database
SFTP_SNAPSHOT_PREFIX=BWARM_PADPIDA2020062405C_
SFTP_MANIFEST_PREFIX=BWARM_Manifest_PADPIDA2020062405C_
LOCAL_SNAPSHOT_PATH=./snapshots
LOG_FILE_PATH=./logs/counterpartmusic-node.log
SNOWFLAKE_STAGE_FILE_FORMAT=MASTER.TSV_FORMAT
MAX_PARALLEL_UPLOADS=5
TSV_CHUNK_SIZE_BYTES=251658240
TSV_SPLIT_BUFFER_BYTES=33554432
TSV_FILE_ENCODING=utf8
INITIAL_RETRY_COUNT=7
