NODE_ENV=production
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USERNAME=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=COUNTERPARTMUSIC
SNOWFLAKE_SCHEMA=MASTER
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_APPLICATION=CounterPartMusicPython
SNOWFLAKE_AUTHENTICATOR=snowflake
SNOWFLAKE_STAGE_FILE_FORMAT=MASTER.TSV_FORMAT
MAX_PARALLEL_UPLOADS=5

SFTP_HOST=your-sftp-host
SFTP_PORT=22
SFTP_USERNAME=your_username
SFTP_PRIVATE_KEY_PATH=./keys/mlc_private_key
SFTP_PRIVATE_KEY_PASSPHRASE=
SFTP_REMOTE_ROOT=/public-database
SFTP_SNAPSHOT_PREFIX=BWARM_PADPIDA2020062405C_
SFTP_MANIFEST_PREFIX=BWARM_Manifest_PADPIDA2020062405C_
LOCAL_SNAPSHOT_PATH=./snapshots
LOG_FILE_PATH=./logs/counterpartmusic-python.log
TSV_CHUNK_SIZE_BYTES=251658240
TSV_SPLIT_BUFFER_BYTES=33554432
TSV_FILE_ENCODING=utf8
INITIAL_RETRY_COUNT=7
